body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
  padding: 0;

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
color: darkgoldenrod;
}
h2{
    color: #057c53;


}

